/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=================================================================================================================
*/

/*
 ========================
 Grid Layout
 ========================
*/

.main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 4fr 4fr;
  grid-template-areas: 
    ".intro ."
    ". image ."
    ". desc ."
    ". skill .";
}

.intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image {
  grid-area: image;
}

.desc {
  grid-area: desc;
}

.skill {
  grid-area: skill;
}

/*
 ========================
 Image
 ========================
*/

.large-image {
  height: 30em;
}


/*
 ========================
 Home
 ========================
*/

:root {
  --primary-color: hsl(54, 83%, 49%);
}

html {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1.25;
}

.name {
  font-weight: 400;
  font-size: 45px;
  padding: 2px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.hello {
  font-weight: 300;
  font-size: 30px;
  padding: 2px;
}

.heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  color: var(--primary-color);
  margin-top: 0.5em;
}

p {
  font-size: 1.2em;
  margin: 2% 0 0 0;
  letter-spacing: 2px;
  padding: 10px;
  font-weight: 300;
}

em {
  font-weight: 400;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

/*
 ========================
 Contact
 ========================
*/

/*.col-lg-11 {
  background-color: rgba(47, 49, 54, 0.5);
  margin-left: 1.5%;
  max-width: 90.166667% !important;
}

h4 {
  font-weight: 800;
  font-size: 2.5vh;
  padding: 5% 2% 0 4%;
  text-transform: uppercase;
  letter-spacing: 1px;
}*/

/*
 ========================
 Resume
 ========================
*/

/*.main {
  color: #fff;
  background-color: #fff;
  height: 2px;
  margin: 0.5% 4% 0 4%;
  width: 92%;
  border-width: 0;
  float: left;
}

.sub-heading {
  padding: 5% 0 0.5% 0;
  margin-left: 4%;
  font-size: 2vh;
  display: inline-block;
  font-weight: 600;
  border-bottom: 2px solid rgb(181, 13, 49);
}

.item {
  width: 90%;
  height: auto;
  margin: 2%;
}

.left-part {
  padding: 1.5% 1.5% 0 1.5%;
  margin-left: 4%;
  font-size: 1.35vh;
  font-weight: 600;
  width: 12.5%;
  text-align: right;
  display: inline-block;
}

.right-part{
  margin-top: 1.5%;
  padding: 10 0 0 1.5%;
  text-align: left;
  width: 40%;
  text-align: left;
  border-left: 1px dashed white;
  display: inline-block;
}

h6 {
  font-size: 1.35vh;
  font-weight: 600;
}

.institute, .desc {
  font-weight: 400;
  font-size: 1.2vh;
  letter-spacing: 1.5px;
}

button.resume {
  font-size: 1.2vh;
  text-align: center;
  width: 15%;
  height: 5% !important;
  background-color: rgba(90, 91, 94, 1);
  color: #fff;
  margin: 2% 5%;
  padding: 1%;
  border-style: solid;
  border-color: rgb(181, 13, 49);
  border-width: 3px;
  display: inline-block;
}*/


