/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=================================================================================================================
*/

/*
 ========================
 Grid Layout
 ========================
*/

.main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-template-areas: 
    ". intro ."
    ". image ."
    ". desc ."
    ". skill ."
    "footer footer footer";
}

.intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image {
  grid-area: image;
  display: grid;
  justify-items: center;
}

.desc {
  grid-area: desc;
}

.footer{
  grid-area: footer;
}

.skill {
  grid-area: skill;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas: 
  "heading heading";
}

.heading {
  grid-area: heading;
}


/*
 ========================
 Image
 ========================
*/

.large-image {
  height: 30em;
  margin: 3rem 0;
}


/*
 ========================
 Home
 ========================
*/

:root {
  --primary-color: hsl(54, 83%, 49%);
}

html {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1.25;
}

.name {
  font-weight: 400;
  font-size: 45px;
  padding: 2px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.hello {
  font-weight: 300;
  font-size: 30px;
  padding: 2px;
}

.first-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  color: var(--primary-color);
}

.heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  color: var(--primary-color);
  margin: 2rem 0;
}

p {
  font-size: clamp(1rem, 1.2rem, 1.5rem);
  margin: 2% 0 0 0;
  letter-spacing: 2px;
  padding: 10px;
  font-weight: 300;
  text-align: justify;
  text-justify: auto;
}

em {
  font-weight: 400;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.card {
  justify-self: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  height: 6rem;
  width: 13rem;
  font-size: 1.1rem;
}

.card:hover {
  background-color: hsla(54, 83%, 49%, 90%);;
}




