/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=================================================================================================================
*/

/*
 ========================
 Grid Layout
 ========================
*/

@media screen and (min-width: 600px) {

  .main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas: 
      "intro intro intro"
      ". image ."
      ". desc .";
  }
  
  .intro {
    grid-area: intro;
  }
  
  .image {
    grid-area: image;
  }
  
  .desc {
    grid-area: desc;
  }

}

/*
 ========================
 Image
 ========================
*/

.large-image {
  height: 30em;
}


/*
 ========================
 Home
 ========================
*/

html {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
li {
  text-align: center;
}

a {
	text-decoration: none;
	font-size: 1.5vh;
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  border-width: 1px 0 ;
  border-color: rgba(168, 163, 164, 0.2);
  border-style: solid;
}

a:active, .active {
  background-color: rgba(47, 49, 54, 0.85);
  text-decoration: none;
  color: #fff;
  border-width: 0 3px 0 0;
  border-color: rgb(181, 13, 49);
  border-style: solid;
}

a:hover {
  background-color: rgba(47, 49, 54, 0.85);
  text-decoration: none;
  color: #fff;
  border-width: 0 3px 0 0;
  border-color: rgb(181, 13, 49);
  border-style: solid;
}

.col-lg-1 {
  background-color: rgba(47, 49, 54, 0.5);
}

.col {
  padding: 0 !important;
  min-height: 100% !important;
  display: inline-block;
}

.menu {
  min-height: 100%;
}

#row1 {
  height: 100%;
}

.name {
  display: inline-block;
  font-size: 1.35vh;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 15%;
}*/

body{
  background-color: #000;
  color: #fff;
}

.intro {
  background-color: rgba(90, 91, 94, 0.75);
  color: #fff;
}

h5 {
  font-weight: 600;
  font-size: 5vh;
  padding: 1%;
  text-transform: uppercase;
}

h3{
  font-weight: 400;
  font-size: 1.5vh;
  padding: 1%;
  text-transform: uppercase;
}

h2{
  font-size: 1.2vh;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1%;
}
/*
button.main {
  font-size: 1.2vh;
  text-align: center;
  width: 30%;
  height: 10% !important;
  background-color: rgba(90, 91, 94, 1);
  color: #fff;
  margin: 5% 35% 5% 35%;
  padding: 1%;
  border-style: solid;
  border-color: rgb(181, 13, 49);
  border-width: 3px;
}*/

p {
  font-size: 1.2em;
  margin: 2% 0 0 0;
  letter-spacing: 2px;
  line-height: 125%;
  padding: 10px;
}

sup {
  vertical-align: super;
  font-size: smaller;
}*/

/*
 ========================
 Contact
 ========================
*/

/*.col-lg-11 {
  background-color: rgba(47, 49, 54, 0.5);
  margin-left: 1.5%;
  max-width: 90.166667% !important;
}

h4 {
  font-weight: 800;
  font-size: 2.5vh;
  padding: 5% 2% 0 4%;
  text-transform: uppercase;
  letter-spacing: 1px;
}*/

/*
 ========================
 Resume
 ========================
*/

/*.main {
  color: #fff;
  background-color: #fff;
  height: 2px;
  margin: 0.5% 4% 0 4%;
  width: 92%;
  border-width: 0;
  float: left;
}

.sub-heading {
  padding: 5% 0 0.5% 0;
  margin-left: 4%;
  font-size: 2vh;
  display: inline-block;
  font-weight: 600;
  border-bottom: 2px solid rgb(181, 13, 49);
}

.item {
  width: 90%;
  height: auto;
  margin: 2%;
}

.left-part {
  padding: 1.5% 1.5% 0 1.5%;
  margin-left: 4%;
  font-size: 1.35vh;
  font-weight: 600;
  width: 12.5%;
  text-align: right;
  display: inline-block;
}

.right-part{
  margin-top: 1.5%;
  padding: 10 0 0 1.5%;
  text-align: left;
  width: 40%;
  text-align: left;
  border-left: 1px dashed white;
  display: inline-block;
}

h6 {
  font-size: 1.35vh;
  font-weight: 600;
}

.institute, .desc {
  font-weight: 400;
  font-size: 1.2vh;
  letter-spacing: 1.5px;
}

button.resume {
  font-size: 1.2vh;
  text-align: center;
  width: 15%;
  height: 5% !important;
  background-color: rgba(90, 91, 94, 1);
  color: #fff;
  margin: 2% 5%;
  padding: 1%;
  border-style: solid;
  border-color: rgb(181, 13, 49);
  border-width: 3px;
  display: inline-block;
}*/


